<meta charset="utf-8">
<meta name="Content-Type" content="text/html; charset=UTF-8" />

<!-- Force latest available IE rendering engine and Chrome Frame (if installed) -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/app.css">
<link rel="icon" type="image/png" href="/icon-16.png">
<!-- Thank you: http://mathiasbynens.be/notes/touch-icons -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
<!-- The Chrome web store link -->
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/mnfhmhingbaceknhdeobjlniemnbhkbp">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@jeffkole" />
<meta name="twitter:creator" content="@jeffkole" />
<meta name="twitter:title" content="Toss It To Me!" />
<meta property="og:title" content="Toss It To Me!" />
<meta name="twitter:description" content="The easiest way to get that desktop-appropriate site opened on your desktop when browsing on your phone." />
<meta property="og:description" content="The easiest way to get that desktop-appropriate site opened on your desktop when browsing on your phone." />
<meta name="twitter:image" content="/apple-touch-icon-152x152-precomposed.png" />

<title>Toss It To Me!</title>
