<h2>About</h2>

<p>Toss It To Me! is a side project of <a href="{{ jeff-link }}">Jeff Kolesky</a>.  Because it is a side project, it comes with no guarantees, no warranties, and no obligations.  I apologize in advance for it not working perfectly for you, and I will happily help you use the tool as best as I can.</p>

<p>Please send requests for help to <a data-email="{{ email }}" href="mailto:{email}?subject={{ subject }}">{email}</a>.</p>

<p>If you would like to help make Toss It To Me! better, please contribute on <a href="http://github.com/jeffkole/tossittome">Github</a>.  Bug reports, wiki documentation, and pull requests will all be appreciated.</p>
