<h1>How to toss pages</h1>
<p>Drag this to your bookmark bar: <a id="bookmarklet" href="javascript:{{ code }}">TossIt</a> and then click "TossIt" when you are on a page you want to toss to another computer.</p>
<p>From a mobile device, copy and paste the code below into a new bookmark:</p>
<form class="clearfix form form-stacked">
  <textarea class="textarea" style="width: 100%; height: 12rem;">javascript:{{ code }}</textarea>
</form>

<h1>How to catch pages</h1>
<p>Pages are caught by a Chrome extension.  Here's how to install it:
<ol>
  <li>Download the extension: <a href="/extension.crx">Extension</a>.  Click "ok" when Chrome tells you it refuses to install the extension.</li>
  <li>In Chrome, navigate to <a href="chrome://extensions">chrome://extensions</a></li>
  <li>Drag the extension "tossittome.crx" to the Chrome window showing the extension page.</li>
  <li>Approve the permissions.</li>
</ol>
</p>

<p><a href="/logout">Logout</a></p>
