<h2>Welcome to Toss It To Me!</h2>

{{# noTosses }}
<h3>Getting started...</h3>
<ol>
  <li><a href="/getting-started/bookmarklet">Install the bookmarklet</a> to toss pages.</li>
  <li><a href="/getting-started/extension">Install the extension</a> to catch pages.</li>
  <li>Start tossing!</li>
</ol>
{{/ noTosses }}

{{^ noTosses }}
<h3>Some recent tosses...</h3>

<div class="full-width bg-alternate-light-gray">
  {{# tosses }}
  <div class="p05 bb1 bb-dark-gray">
    <p class="h3 mb0"><a href="{{ url }}">{{ title }}</a></p>
    <p class="f5 mb0">
      Tossed to {{ catcher.email }} {{# lambdas.relativeTime }}{{ created_at }}{{/ lambdas.relativeTime }}.
      {{# served }}
        Caught {{# lambdas.relativeTime }}{{ served_at }}{{/ lambdas.relativeTime }}.
      {{/ served }}
    </p>
  </div>
  {{/ tosses }}
</div>

{{! Add in when history page is complete
<p class="right-align"><a href="...">See all &raquo;</a></p>
}}
{{/ noTosses }}
