<h2>Welcome to Toss It To Me!</h2>

{{# noTosses }}
<h3>Getting started...</h3>
<ol>
  <li><a href="/getting-started/bookmarklet">Install the bookmarklet</a> to toss pages.</li>
  <li><a href="/getting-started/extension">Install the extension</a> to catch pages.</li>
  <li>Start tossing!</li>
</ol>
{{/ noTosses }}

{{^ noTosses }}
<h3>Some recent tosses...</h3>

{{> _toss_history }}

{{! Add in when history page is complete
<p class="right-align"><a href="...">See all &raquo;</a></p>
}}
{{/ noTosses }}
