<nav class="right-align px-responsive bg-blue">
  <a href="#signup" class="leading-3 inline-block dark-gray">Sign Up</a>
  <a href="#login" class="leading-3 inline-block ml1 dark-gray">Login</a>
</nav>

<section class="min-y100 table full-width center">
  <div class="relative table-cell middle center bg-blue">
    <div><img src="/images/icon-128.png"/></div>
    <h1 class="h1 mb0">Toss It To Me!</h1>
    <p class="p">Toss pages from here to there.</p>
    <div class="absolute l0 b0 mb1 full-width h3">&#x2b07;</div>
  </div>
</section>

<section class="min-y100 table full-width">
  <div class="table-cell middle bg-red">
    <div class="measure wrap px-responsive mt-responsive">
      <div class="row">
        <div class="col col-4 wrap iphone-mock"><img class="block wrap" src="/images/tour/ios_screenshot.png"/></div>
        <p class="col col-8 p py-responsive">You found an <a class="dark-gray" href="http://www.distancetomars.com/" target="_blank">infographic</a> on your phone that you&rsquo;d rather read on your laptop. Or an <a class="dark-gray" href="http://i.imgur.com/GSqXDdK.jpg" target="_blank">amazing gif</a> that you want your friend to see, too.</p>
      </div>
    </div>
  </div>
</section>

<section class="min-y100 table full-width">
  <div class="table-cell middle bg-green">
    <div class="measure wrap px-responsive mt-responsive">
      <div class="row">
        <div class="col col-4 wrap iphone-mock"><img class="block wrap" src="/images/tour/tossing.png"/></div>
        <p class="col col-8 p py-responsive">Use Toss It To Me to send the page to your laptop.</p>
      </div>
    </div>
  </div>
</section>

<section class="min-y100 table full-width">
  <div class="table-cell middle bg-orange">
    <div class="measure wrap px-responsive mt-responsive">
      <img class="fit block wrap" src="/images/tour/chrome_screenshot.png"/>
      <p class="p py-responsive">When you get back to your computer, the tossed page will be open and waiting for you.</p>
    </div>
  </div>
</section>

<section class="min-y100 table full-width">
  <div class="table-cell middle bg-blue">
    <div class="measure wrap p-responsive">
      <p class="p">Toss It To Me! is a browser extension that automatically opens websites that you send to it.  We call that &ldquo;tossing.&rdquo;  You simply install the extension on the browser you want to accept the tosses, and on another device (typically a mobile device) you install a bookmarklet that you use to initiate the toss.  The extension then &ldquo;catches&rdquo; the &ldquo;toss&rdquo; and opens the page for you.  No more trying to remember what you wanted to look at on your laptop or relying on a bookmarking service to keep track of the site.</p>

      <div class="clearfix mt2">
        <div id="signup" class="left half-width mobile-block">
          <h3 class="center">Sign up</h3>
          <form class="m1 clearfix form form-stacked" action="/register" method="post">
            <label for="email">Email:</label>
            <input class="input" type="text" name="email" placeholder="foo@bar.com" />

            <label for="password">Password:</label>
            <input class="input" type="password" name="password" placeholder="password"/>

            <input class="button" type="submit" name="register" value="Sign up" />
          </form>
        </div>
        <div id="login" class="right half-width mobile-block">
          <h3 class="center">Login</h3>
          <form class="m1 clearfix form form-stacked" action="/login" method="post">
            <label for="email">Email:</label>
            <input class="input" type="email" name="email" placeholder="foo@bar.com"/>

            <label for="password">Password:</label>
            <input class="input" type="password" name="password" placeholder="password"/>

            <input class="button" type="submit" name="login" value="Login" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="bg-blue">
  <div class="p1 right-align x-small">iPhone image by Justin14 (Own work), <a class="dark-gray" href="http://creativecommons.org/licenses/by-sa/3.0">CC-BY-SA-3.0</a>, <a class="dark-gray" href="http://commons.wikimedia.org/wiki/File%3AIPhone_4_Mock_No_Shadow_PSD.png">via Wikimedia Commons</a></div>
</footer>
