<h2 class="mt2">What is Toss It To Me?</h2>

<p class="p">You found an <a href="http://www.distancetomars.com/" target="_blank">infographic</a> on your phone that you&rsquo;d rather read on your laptop. Or an <a href="http://i.imgur.com/GSqXDdK.jpg" target="_blank">amazing gif</a> that you want your friend to see too. Toss it over!</p>

<p class="p">Toss It To Me! is a browser extension that automatically opens websites that you send to it.  We call that &ldquo;tossing.&rdquo;  You simply install the extension on the browser you want to accept the tosses, and on another device (typically a mobile device) you install a bookmarklet that you use to initiate the toss.  The extension then &ldquo;catches&rdquo; the &ldquo;toss&rdquo; and opens the page for you.  No more trying to remember what you wanted to look at on your laptop or relying on a bookmarking service to keep track of the site.</p>

<div class="clearfix mt2">
  <div class="left half-width mobile-block">
    <h3 class="center">Sign up</h3>
    <form class="m1 clearfix form form-stacked" action="/register" method="post">
      <label for="email">Email:</label>
      <input class="input" type="text" name="email" placeholder="foo@bar.com" />

      <label for="password">Password:</label>
      <input class="input" type="password" name="password" placeholder="password"/>

      <input class="button" type="submit" name="register" value="Sign up" />
    </form>
  </div>
  <div class="right half-width mobile-block">
    <h3 class="center">Login</h3>
    <form class="m1 clearfix form form-stacked" action="/login" method="post">
      <label for="email">Email:</label>
      <input class="input" type="email" name="email" placeholder="foo@bar.com"/>

      <label for="password">Password:</label>
      <input class="input" type="password" name="password" placeholder="password"/>

      <input class="button" type="submit" name="login" value="Login" />
    </form>
  </div>
</div>
