<section class="measure-narrow wrap">
{{#error}}
<p>Sorry, the email address or password you entered did not match our records. Please try again.</p>
{{/error}}
<form class="clearfix form form-stacked" method="post">
  <label for="email">Email:</label>
  <input class="input" type="email" name="email" placeholder="foo@bar.com"/>

  <label for="password">Password:</label>
  <input class="input" type="password" name="password" placeholder="password"/>

  <input class="button" type="submit" name="login" value="Login" />
</form>
</section>
<p class="mt1">Not yet a tosser?  <a href="{{# lambdas.attachQueryParams }}/register{{/ lambdas.attachQueryParams }}">Register</a> to become one.</p>
