<section class="measure-narrow wrap">
{{#error}}
<p>Sorry, the email address or password you entered did not match our records. Please try again.</p>
{{/error}}
<form class="clearfix form form-stacked" action="/login" method="post">
  <label for="email">Email:</label>
  <input class="input" type="text" name="email" placeholder="foo@bar.com"/>

  <label for="password">Password:</label>
  <input class="input" type="password" name="password" placeholder="password"/>

  <input class="button" type="submit" name="login" value="Login" />

  <input type="hidden" name="url" value="{{ url }}"/>
  <input type="hidden" name="title" value="{{ title }}"/>
</form>
</section>
