<section class="measure-narrow wrap">
{{#error}}
  {{#invalidEmail}}
  <p>Please be sure to enter a valid email address and a password.</p>
  {{/invalidEmail}}
  {{#duplicateEmail}}
  <p>Please use a different email address.</p>
  {{/duplicateEmail}}
{{/error}}
<form class="clearfix form form-stacked" method="post">
  <label for="email">Email:</label>
  <input class="input" type="text" name="email" placeholder="foo@bar.com" />

  <label for="password">Password:</label>
  <input class="input" type="password" name="password" placeholder="password"/>

  <input class="button" type="submit" name="register" value="Sign up" />
</form>
</section>
<p class="mt1">Already a tosser?  <a href="{{#attachQueryParams}}/login{{/attachQueryParams}}">Login</a> to get started.</p>
