<!doctype html>
<html>
  <head>
    {{> head }}
  </head>
  <body>
    {{# user }}
    <nav class="wrap py1 right-align bg-light-gray">
      <ul class="list-inline mb0">
        <li class="mr1"><a href="/">Home</a></li>
        <li class="dropdown mr1">
          <a class="" href="/page/tosses">History</a>
          <div class="dropdown-menu dropdown-right">
            <ul>
              <li><a href="/page/tosses">Tosses</a></li>
              <li><a href="/page/catches">Catches</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown mr1">
          <a class="" href="/catcher">Catchers</a>
          <div class="dropdown-menu dropdown-right">
            <ul>
              <li><a href="/catcher/new">Add catcher</a></li>
              <li><a href="/catcher">Show catchers</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown mr1">
          <a class="" href="/getting-started/bookmarklet">Getting Started</a>
          <div class="dropdown-menu dropdown-right">
            <ul>
              <li><a href="/getting-started/bookmarklet">Install bookmarklet</a></li>
              <li><a href="/getting-started/extension">Install extension</a></li>
            </ul>
          </div>
        </li>
        <li class="mr1"><a href="/logout">Sign out</a></li>
      </ul>
    </nav>
    {{/ user }}
    <header class="px-responsive">
      <div class="clearfix measure wrap mt1">
        <h1>
          <a href="/"><img class="left mr1" src="/images/icon-128.png" width="64" />Toss It To Me!</a>
          <p>Toss pages from here to there.</p>
        </h1>
      </div>
    </header>

    <main class="measure wrap px-responsive">
    {{{ yield }}}
    </main>

    <footer class="px-responsive">
      <div class="measure wrap mt2">
        <ul class="list-inline" class="small">
          <li>&copy; <a href="{{ jeff-link }}">Jeff Kolesky</a></li>
          <li class="right"><a href="/info/about">About</a></li>
        </ul>
      </div>
    </footer>

    {{! TODO: wrap all Javascript in one script }}
    <script src="/js/buoy.js"></script>
    <script src="/js/tabby.js"></script>
    <script src="/js/drop.js"></script>
    <script src="/js/app.js"></script>
    <script>
      tabby.init();
      drop.init();
      app.init();
    </script>

    {{> google-analytics }}
  </body>
</html>
