<html>
  <head>
    <link rel="icon" type="image/png" href="/icon-16.png" />
    <!-- Thank you: http://mathiasbynens.be/notes/touch-icons -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    <title>Toss It To Me</title>
  </head>
  <body>
    {{{ yield }}}
  </body>
</html>
