<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="icon" type="image/png" href="/icon-16.png" />
    <!-- Thank you: http://mathiasbynens.be/notes/touch-icons -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />
    <title>Toss It To Me</title>
  </head>
  <body>
    <header class="px-responsive">
      <div class="clearfix measure-wide wrap mt1">
        <h1 class="left"><a href="/">TossItToMe!</a></h1>
        {{#user}}
        <p class="small clearfix right-align mt1"><a href="/history">history</a> | {{ email }} <a href="/logout">sign out </a></p>
        {{/user}}
      </div>
      <div class="clearfix measure-wide wrap">
      <p class="p">Send links from here to there.</p>
      </div>
      {{#user}}
      <nav class="measure wrap right-align bg-light-gray">
        <ul class="list-inline">
          <li class="mr1"><a href="/">Home</a></li>
          <li class="mr1"><a href="/catcher/new">Add catcher</a></li>
          <li class="mr1"><a href="/catcher">Show catchers</a></li>
        </ul>
      </nav>
      {{/user}}
    </header>

    <main class="measure-wide wrap px-responsive">
    {{{ yield }}}
    </main>

    <footer class="px-responsive">
      <div class="measure-wide wrap mt2">
        <p>&copy; Jeff Kolesky</p>
      </div>
    </footer>
  </body>
</html>
