{{# noTosses }}
<p>You have not tossed any pages yet.</p>
{{/ noTosses }}

{{^ noTosses }}
<h3>Tossed pages</h3>

{{> _toss_history }}

{{# pagination }}
<div class="row mt1 mb1">
  <div class="col col-6 left-align">
    {{# prevPage }}
    <a href="/page/tosses?page={{ prevPage }}"><button class="button button-small button-blue">Newer</button></a>
    {{/ prevPage }}
    {{^ prevPage }}
    <button class="button button-small button-gray">Newer</button>
    {{/ prevPage }}
  </div>
  <div class="col col-6 right-align">
    {{# nextPage }}
    <a href="/page/tosses?page={{ nextPage }}"><button class="button button-small button-blue">Older</button></a>
    {{/ nextPage }}
    {{^ nextPage }}
    <button class="button button-small button-gray">Older</button>
    {{/ nextPage }}
  </div>
</div>
{{/ pagination }}

{{/ noTosses }}
